@import "/css/core.css";

body {
    scrollbar-color: var(--accent-emp) var(--accent-bkg);
}

.article {
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    color: var(--txt);
    height: 100%;
    min-height: 100%;
    display: grid;
    max-width: fit;
    font-size: 125%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 3em;
}

.article .anchor .hash {
    opacity: 0;
    text-decoration: none;
    color: var(--accent-emp);
    transition: .5s;
}

.article .anchor:hover .hash {
    opacity: 1;
    transition: .5s;
}

.article .anchor:hover .hash:hover {
    text-decoration: underline solid var(--accent-emp) 5px;
}

.article * {
    margin-top: .5em;
    margin-bottom: .5em;
}

.article h1, .article h2, .article h3, .article p {
    transition: .2s;
    box-shadow: -15px 0 0 0 var(--bkg);
}

.article ul li {
    transition: .2s;
    box-shadow: -30px 0 0 0 var(--bkg);
}

.article h1:hover, .article h2:hover, .article h3:hover, .article p:hover, .article ul li:hover {
    box-shadow: -15px 0 0 0 var(--bkg), -20px 0 0 0 var(--accent-bkg);
}

.article ul li:hover {
    box-shadow: -30px 0 0 0 var(--bkg), -35px 0 0 0 var(--accent-bkg);
}


.article h1 {
    font-size: 250%;
    border-bottom: 1px solid var(--accent-emp);
}

.article h2 {
    margin-top: .5em;
    border-bottom: 1px solid White;
}

.article p em {
    color: var(--accent-fg);
}

.padding {
    height: 3em;
    width: .1px;
}

strong {
    font-weight: bold;
}