@import "/css/core.css";

.article {
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    color: var(--txt);
    height: 100%;
    min-height: 100%;
    display: grid;
    max-width: fit;
    padding: 3em;
    font-size: 125%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.article .anchor .hash {
    opacity: 0;
    text-decoration: none;
    color: var(--accent-emp);
    transition: .5s;
}

.article .anchor:hover .hash {
    opacity: 1;
    transition: .5s;
}

.article .anchor:hover .hash:hover {
    text-decoration: underline solid var(--accent-emp) 5px;
}

.article * {
    margin-top: .5em;
    margin-bottom: .5em;
}

.article>* {
    transition: .2s;
    box-shadow: -15px 0 0 0 var(--bkg);
}

.article>*:hover {
    box-shadow: -15px 0 0 0 var(--bkg), -20px 0 0 0 var(--accent-bkg);
}

.article h1 {
    font-size: 250%;
    border-bottom: 1px solid var(--accent-emp);
}

.article h2 {
    margin-top: .5em;
    border-bottom: 1px solid White;
}

.article p em {
    color: var(--accent-fg);
}