@import "/css/balloon.css";
@import "/css/magic-text.css";
@import "/css/nav.css";
@import "/css/buttons.css";

:root {
  --bkg: #181a1b;
  --bkg2: #20232f;
  --fg: #181818;
  --fg-hover: #4cc9f0;
  --fg-selected: #4361ee;
  --txt: #ffffff;
  --nav: #43026e;
  --card: #ffffff;
  --fade: #01222d;
  --empty: #00000000;
  --fire-bkg: #471313;
  --fire-fg: #ff4444;
  --fire-emp: #ff1c1c;
  --water-bkg: #152557;
  --water-fg: #3d6eff;
  --water-emp: #2b60ff;
  --air-bkg: #19493c;
  --air-fg: #32be96;
  --air-emp: #64eec7;
  --earth-bkg: #382416;
  --earth-fg: #d08550;
  --earth-emp: #f58434;
}

* {
  margin: 0;
}

body {
  background-color: var(--bkg);
}

.main {
  color: var(--txt);
  font-size: 200%;
  font-family: "Rubik", sans-serif;
  height: 100%;
  margin: 1em;
  display: grid;
  overflow: hidden;
  text-align: center;
  max-width: fit;
  padding: 1em;
}

.noscript {
  background-color: var(--red);
  margin: 0;
  font-size: 150%;
  color: var(--txt);
}
