@import "/css/balloon.css";
@import "/css/magic-text.css";
@import "/css/nav.css";
@import "/css/buttons.css";

:root {
  --bkg: #252627;
  --bkg2: #20232f;
  --fg: #181818;
  --fg-hover: #4cc9f0;
  --fg-selected: #4361ee;
  --txt: #F2EFE9;
  --card: #ffffff;
  --fade: #01222d;
  --empty: #00000000;
  --nav-bkg: #43026e;
  --nav-fg: #c977ff;
  --nav-emp: #9a15f3;
  --fire-bkg: #471313;
  --fire-fg: #ff4444;
  --fire-emp: #ff1c1c;
  --water-bkg: #152557;
  --water-fg: #5881fa;
  --water-emp: #2b60ff;
  --air-bkg: #19493c;
  --air-fg: #7df8d5;
  --air-emp: #32be96;
  --earth-bkg: #382416;
  --earth-fg: #eca572;
  --earth-emp: #f58434;
}

* {
  margin: 0;
}

body {
  background-color: var(--bkg);
}

.main {
  color: var(--txt);
  font-size: 125%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: center;
  max-width: fit;
  overflow: hidden;
}

.main h1 {
  margin-top: 1em;;
}

html, body {
  height: 100%;
}

.noscript {
  background-color: #ff0000;
  margin: 0;
  font-size: 125%;
  color: var(--txt);
}
