@import "/css/core.css";

#endeavors {
  background: linear-gradient(to right, BlueViolet, CornflowerBlue, DeepPink, BlueViolet);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons {
  flex: 1;
  overflow: hidden;
}