@import "/css/core.css";

.categories {
  width: 100%;
}

.category {
  border-radius: 30px;
  color: var(--txt);
  font-size: 25px;
  padding: 2em;
  margin: 1em;
}

#fire {
  background-color: var(--fire-bkg);
}

#water {
  background-color: var(--water-bkg);
}

#air {
  background-color: var(--air-bkg);
}

#earth {
  background-color: var(--earth-bkg);
}

.cards {
  display: inline-flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 25px;
  background: var(--card);
  margin: 0.5em;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  height: 200px;
  position: relative;
  z-index: 1;
  padding: 0;
  border: 0px;
}

.thumb {
  object-fit: fill;
  position: absolute;
  z-index: -1;
  border-radius: 25px;
}

.info {
  height: inherit;
  width: inherit;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 0.5s ease, background 1s ease;
  z-index: 1;
  margin: 0;
  padding: 0;
}

#fire .cards .card .info {
  background: linear-gradient(var(--empty) 50%, var(--fire-bkg) 75%);
}

#water .cards .card .info {
  background: linear-gradient(var(--empty) 50%, var(--water-bkg) 75%);
}

#air .cards .card .info {
  background: linear-gradient(var(--empty) 50%, var(--air-bkg) 75%);
}

#earth .cards .card .info {
  background: linear-gradient(var(--empty) 50%, var(--earth-bkg) 75%);
}

.info p {
  color: var(--card);
  font-size: 25px;
  font-weight: bold;
  margin: 0.5em;
  transition: 0.5s ease, color 1s ease;
  z-index: 1;
}

* .cards .card .info::before {
  background: linear-gradient(var(--empty) 50%, var(--card) 75%);
  position: absolute;
  content: '';
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition: 0.5s ease, color 1s ease;
  opacity: 0;
}

* .cards .card .info:hover::before {
  opacity: 1;
}

.info:hover p {
  color: var(--bkg);
}

#fire2 {
  background: linear-gradient(to right, #ff5b5b, #ffa463, #ff56ad, #ff5b5b);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#water2 {
  background: linear-gradient(to right, #85baee, #8ffafa, #8c8cf8, #85baee);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#air2 {
  background: linear-gradient(to right, #40e0d0, #82f2c7, #7fffd4, #40e0d0);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#earth2 {
  background: linear-gradient(to right, #ecec87, #eaaa7d, #f7bd8a, #ecec87);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.thumb {
  max-width: 90%;
  max-height: 90%;
  display: grid;
  place-items: center;
}