@import "/css/core.css";

body {
    scrollbar-color: var(--nav-emp) var(--nav-bkg);
}

.main {
    padding: 2em;
}

.people {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.major {
    width: 100%;
}

.people .major {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: .5em;
}

.person {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 50%;
}

@media screen and (max-width: 1200px) {
    .people .major {
      flex-direction: column;
    }
    .person {
        width: 100%;
    }
}

.thumb {
    flex: 1;
    margin-right: .5em;
}

.thumb img {
    
    height: 100%;
}

.text {
    text-align: left;
    flex: 1;
    width: 50%;
    margin: .5em;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.social-media div, .social-media a {
    width: 48px;
    margin-top: .5em;
}

.social-media div img, .social-media a img {
    width: 48px;
}
